<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xinspace.csevent">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.example.zhouwei.library" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="getui.permission.GetuiService." />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="andorid.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- HTTP权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <!--二维码权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!--添加桌面-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="org.linphone.permission.C2D_MESSAGE"
        android:protectionLevel="signature" /> <!-- Change package ! -->
    <uses-permission android:name="org.linphone.permission.C2D_MESSAGE" /> <!-- Change package ! -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- Needed to allow Linphone to install on tablets, since android.permission.CALL_PHONE implies android.hardware.telephony is required -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Needed to allow Linphone to install on tablets, since android.permission.CAMERA implies android.hardware.camera and android.hardware.camera.autofocus are required -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Needed to store received images if the user wants to -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- Needed to route the audio to the bluetooth headset if available -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Needed to pre fill the wizard email field (only if enabled in custom settings) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_SIP" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".app.CoresunApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTranslucent">

        <!-- 友盟统计分析的appkey -->
        <meta-data
            android:name="YOUR_APP_KEY"
            android:value="56df8aa7e0f55ac9ee0021a6" />
        <meta-data
            android:name="Channel ID"
            android:value="shide" />

        <!-- 百度地图配置appkey -->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YksoVuXZz22zL22Gz5UWjSse" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 个推SDK -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="jH5k5gq5se6WWQRIgySIH6" />
        <!-- APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="yxIuUeifiB6ZFqFCKSoVBA" />
        <!-- APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="50x1ZDPyww7pkBsstzyZ3" />

        <!-- APPSECRET -->
        <!-- 个推SDK -->
        <!-- 接收个推透传消息的接收器,自定义的 -->
        <!-- <receiver -->
        <!-- android:name="com.xinspace.csevent.Receiver.GetuiReceiver" -->
        <!-- android:exported="false" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.igexin.sdk.action.jH5k5gq5se6WWQRIgySIH6" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" />

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- actionservice -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.xinspace.csevent"
            android:exported="true"
            android:process=":pushservice" />
        <!--  -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.APPID" />
                <!-- APPID -->
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推SDK -->

        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.RegisterDetailActivity" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ActDetailActivity" />
        <activity android:name=".ui.activity.AddressManagerActivity" />
        <activity android:name=".ui.activity.AddressEditActivity" />
        <activity android:name=".ui.activity.RegetAddressActivity" />
        <activity android:name=".ui.activity.SelectCitiesActivity" />
        <activity android:name=".ui.activity.GetAwardActivity" />

        <!-- shareSDK所需要的Activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 微信支付 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.activity.WebViewActivity" />
        <!-- 微信支付 回调页面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".login.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.SmallPrizesActivity" />
        <activity android:name=".ui.activity.AwardsRecordActivity" />
        <activity android:name=".ui.activity.AddAddressForAwardActivity" />
        <activity android:name=".ui.activity.SupplyUserInfoActivity" />
        <activity android:name=".ui.activity.ModifyAwardAddressActivity" />
        <activity android:name=".ui.activity.DuobaoRecordActivity" />
        <!-- 点击活动奖品图片后进入的页面,放大图片 -->
        <activity
            android:name=".ui.activity.ZoomInImageActivity"
            android:label="@string/title_activity_zoom_in_image"
            android:theme="@style/showZoomInImage" />
        <activity android:name=".ui.activity.AwardRecordDetailActivity" />
        <activity android:name=".ui.activity.SupplyInfoActivity" />
        <activity android:name=".ui.activity.MemberCenterActivity" />
        <activity android:name=".ui.activity.QAndAActivity" />
        <activity android:name=".ui.activity.RulesActivity" />
        <activity android:name=".ui.activity.EmailActivity" />
        <activity android:name=".ui.activity.EmailSysPutActivity" />
        <activity
            android:name=".ui.activity.FullPageAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/theme_fullscrenn_translucent" />
        <activity
            android:name=".ui.activity.SoftwareDownloadActivity"
            android:label="@string/title_activity_software_download"
            android:theme="@style/AppThemeTranslucent" />
        <activity
            android:name=".ui.activity.AwardStyleActivity"
            android:label="@string/title_activity_award_style"
            android:theme="@style/AppThemeTranslucent" />
        <activity android:name=".shop.activity.AwardsTypeActivity" />
        <activity android:name=".ui.activity.AwardPoolActivity" />
        <!--
        ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->

        <activity android:name=".ui.activity.FullBrandPictureActivity" />
        <activity android:name=".ui.activity.ProductDetailActivity" />
        <activity android:name=".ui.activity.FindMyPasswordActivity" />
        <activity android:name=".ui.activity.ResetPasswordActivity" />
        <activity android:name=".ui.activity.ShoppingMallActivity" />
        <activity
            android:name=".ui.activity.FirstUseGuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!--  -->
        <activity
            android:name=".login.activity.SplashAct"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.GuideAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:label="首页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.MyMessageAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SettingAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SetUserMsgAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.FaqAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EditPwdActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SweepRulesAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.UserAgreeAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.ActDetailActivity2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.ChooseAddressAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".login.activity.CrowdRecordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.CrowRecordDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.ExChangeAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.PrizeDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.ChangeAddressAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.SmartCommAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.SmartCommAct2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.FullBuyAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.PayFinishAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.PayCrowdFinishAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.CrowdBuyRecordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.CrowdWinRecordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".publish.activity.PublishDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".publish.activity.CrowdRuleAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".publish.activity.CrowdActivitiesAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".publish.activity.CrowdParticipaAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baskorder.activity.BaskOrderDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baskorder.activity.AddBaskOrderAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baskorder.activity.AlbumAct2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baskorder.activity.AlbumAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".baskorder.activity.MyBaskOrderAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.CallCenterAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.HotQuesAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.ViedoAct"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.ViedoAct2"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".login.activity.FeedbackActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.MoreQuesAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SystemNotificaAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.ChooseAddressAct2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sweepstake.activity.WebViewActivity2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.OpenDoorActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.RepairsActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.PaymentActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.LeaseActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".monitor.activity.IndexCityAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.ParkActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.ComAppAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.RimShopActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.PassWordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.InCallAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.OpenDoorRecordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.AfficheAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.LeaseDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.GoodsDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.SearchAllShopAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.GroupCateAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".shop.activity.GroupGoodsDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.MyGroupAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.MyCroupDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.FreeTrialAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.SeckillDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.BuyGroupAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.BuyGoodsAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.SeckillAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.GroupGoodsAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.CoresunWebAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.ShopCartAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.ShopCartAct2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.PayOrderActivity"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".shop.activity.StoreOrderAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.OrderDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.AfterSaleAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.ExpressAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.ExpressAct2"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.TrialDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.MyTrailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.BuyExChangeAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.ConvertRecordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.ExChangeDetailAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.SearchMoreAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".monitor.activity.CommunityPayAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.PayMentRecordAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.SubmitDataAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.OrderRoomAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.OrderDateAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.activity.MyLeaseAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.activity.JiuGoodsAct"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.widget.citypicker.activity.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity android:name=".shop.activity.ShideShopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".monitor.activity.CommunityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <service
            android:name=".login.service.LoginIntentService"
            android:exported="false" />

        <!-- 引入linphone -->
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <!-- <meta-data android:name="Mob-AppKey" android:value="ce3ba281952a"/> -->
        <!-- <meta-data android:name="Mob-AppSecret" android:value="32237dc61543b4338940232e2777ab98"/> -->


        <!-- 智果门管家 -->
        <!-- 维护的一个蓝牙服务 -->
        <!-- <service android:name="com.intelligoo.sdk.BluetoothLeService" android:enabled="true" /> -->


        <!-- <activity android:name="com.doormaster.vphone.activity.Act_Call"/> -->
        <!-- <activity android:name="com.doormaster.vphone.activity.Act_CallIncoming"/> -->
        <!-- <activity android:name="com.doormaster.vphone.activity.Act_CallOutgoing"/> -->
        <!-- <service -->
        <!-- android:name="org.linphone.LinphoneService" -->
        <!-- android:enabled="true" -->
        <!-- android:label="@string/service_name" -->
        <!-- android:stopWithTask="false" /> -->
        <!-- <service -->
        <!-- android:name="com.doormaster.vphone.service.KeepAliveService" -->
        <!-- android:enabled="true" -->
        <!-- android:process=":service2" /> -->
        <!-- <receiver android:name="org.linphone.NetworkManager" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" > -->
        <!-- </action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name="org.linphone.BluetoothManager" -->
        <!-- android:enabled="false" > -->
        <!-- </receiver> -->
        <!-- <receiver android:name="org.linphone.BootReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" > -->
        <!-- </action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name="org.linphone.PhoneStateChangedReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name="org.linphone.gcm.GCMReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->


        <!-- <category android:name="org.linphone" /> &lt;!&ndash; Change package ! &ndash;&gt; -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name="com.doormaster.vphone.receiver.MyReceiver"> -->
        <!-- <intent-filter android:priority="2147483647"> &lt;!&ndash; 优先级加最高 &ndash;&gt; -->
        <!-- &lt;!&ndash; 系统启动完成后会调用 &ndash;&gt; -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- &lt;!&ndash; 解锁完成后会调用 &ndash;&gt; -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- &lt;!&ndash; 监听情景切换 &ndash;&gt; -->
        <!-- <action android:name="android.media.RINGER_MODE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service android:name="org.linphone.gcm.GCMService" /> -->


        <!-- 赛义 -->


        <!-- <service  android:name="sdk_sample.sdk.LinphoneService" -->
        <!-- android:stopWithTask="false" /> -->

        <receiver android:name="sdk_sample.sdk.NetworkManager">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="sdk_sample.sdk.PhoneStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="sdk_sample.sdk.views.KeepAliveReceiver" />
        <receiver android:name="sdk_sample.sdk.KeepAliveHandler" />

        <activity
            android:name="sdk_sample.sdk.activity.LockListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="sdk_sample.sdk.activity.LockListActivity2"
            android:launchMode="singleTask" />
        <activity
            android:name="sdk_sample.sdk.activity.VideoCallActivity"
            android:launchMode="singleTask" />
        <activity android:name="sdk_sample.sdk.activity.IncomingCallActivity" />
        <activity android:name="sdk_sample.RamdonPasswordActivity"></activity>

        <receiver
            android:name="sdk_sample.RamdonPasswordReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sayee.sdk.action.random.code" />
                <action android:name="com.sayee.sdk.action.token.fail" />
            </intent-filter>
        </receiver>

        <!-- linphone -->

        <activity android:name="org.linphone.SendActivity"></activity>

        <service
            android:name="org.linphone.LinphoneService"
            android:label="@string/service_name"
            android:stopWithTask="false" />

        <activity
            android:name="org.linphone.InCallActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="org.linphone.IncomingCallActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="behind"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".shop.activity.SpellGroupActivity"/>

        <receiver android:name=".ui.widget.AppOpenDoorProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xinspace.csevent.action.CLICK_OPEN_RECORDE" />
                <action android:name="com.xinspace.csevent.action.CLICK_OPEN_PASSWORD" />
                <action android:name="com.xinspace.csevent.action.CLICK_OPEN_LOCK" />
                <action android:name="com.xinspace.csevent.action.CLICK_OPEN_MONITOR" />
            </intent-filter>
        </receiver>

        <service android:name=".ui.widget.OpenDoorService"/>


    </application>

</manifest>